.logo-bar {
  background-color: #17b978;
  padding: 20px;
  text-align: center;
}

.menu {
  text-align: center;
  margin-top: 50px;
}

.menu-button {
  background-color: #118c5b;
  color: #ffffff;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #146e46;
}
